@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background: url('/leo.jpg') no-repeat center/cover;
}

.phat {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
}

.video-box, .video-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

video {
    width: 600px;
    height: 340px;
    border: 1px double black;
    background-color: rgba(223, 221, 221, 0.338);
    margin: 1rem;
    border-radius: 8px;
}

button {
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
    background-color: rgba(138, 129, 129, 0.742);
    transition: opacity 0.3s ease-in;
    border: none;
}

button:hover {
    background-color: rgba(138, 129, 129, 0.942);
}

.video-btn {
    margin: 1rem;
}